.main-navigation .inside-navigation {}
.main-navigation, 
.main-navigation ul ul {
    background: none!important;
}

.main-navigation ul ul {
    border-radius: 5px;
    background: #fff!important;
    padding: 5px 0px!important;
    position: relative;
    border-bottom: 5px solid var(--contrast-2);
    box-shadow: 0px 2px 34px -1px rgba(0,0,0,0.12)!important;
}
.main-navigation ul ul:before {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 35px;
    top: -14px;
    font-size: 26px;
    content: "\F235";
    color: #fff;
    font-family: bootstrap-icons;
}
.main-navigation ul ul.sub-menu li a {
    border-bottom: 1px solid #F1F1F1;
}
.main-navigation ul ul.sub-menu li:last-child a {
    border-bottom: none;
}

.mobile-menu-control-wrapper {
    position: absolute;
    left: 20px;
    top: 0;
    font-size: 18px;
}
.mobile-menu-control-wrapper button {
    padding: 0;
    font-size: 22px!important;
    background: none!important;
}

@media only screen and (max-width: 1024px) {
    
}

@media only screen and (max-width: 767px) {
    .main-navigation.toggled .main-nav > ul { padding: 20px 0px 50px;}
    .main-navigation.toggled .main-nav ul li a { line-height:50px; }
    .main-navigation.toggled .menu-item-has-children .dropdown-menu-toggle { font-size:20px; }
    #site-navigation {
        background: #F5F7FA!important;
        position: absolute;
        width: 100%;
        left: 0;
        top: 65px;
        margin: 0!important;
    }
    .main-navigation.toggled .main-nav ul ul { 
        box-shadow:none!important;
        background:none!important;
        border-radius: 0;
        padding: 0px 20px 10px!important;
    }
    .main-navigation.toggled .main-nav ul ul:before {
        display: none;
    }
    .main-navigation .main-nav ul ul li a {
        padding: 0 0 0 30px!important;
        position: relative;
    }
    .main-navigation .main-nav ul ul li a:before {
        content: "\F135";
        font-family: bootstrap-icons;
        position: absolute;
        left: 0;
        top: 0;
        font-size: 20px;
    }

}