/* Archive Post */
.blog_page {
    margin-top: 120px;
}
.page-header,
.sidebar .widget {
    background: none!important;
}
.separate-containers .inside-left-sidebar, 
.separate-containers .inside-right-sidebar {
    margin-top: 0!important;
}
.widget-area .widget {
    padding: 0!important;
}

/*
.entry-header h1,
.page-header h1,
.widgettitle,
.widget-title  { 
    position: relative;
    display: inline-block;
    margin-bottom: 30px;
}
.entry-header h1:after,
.page-header h1:after,
.widgettitle:after,
.widget-title:after {
    content: " ";
    height: 3px;
    width: 70%;
    left: 0;
    bottom: -8px;
    position: absolute;
    border-radius: 10px;
    background: var(--contrast-2);
}*/
    .search_heading .page-header { margin-bottom:0; }
    .search_heading .page-header h1:after { display:none; }
    .search_heading .page-header h1 { display:block; }
    .search_heading .page-header h1 span {
        font-weight: normal;
    }

.border_box {
    border: 0px solid var(--base-3);
    padding: 0;
    border-radius: 8px;
    background: #fff;
}
.archive_catheader {}
.archive_post {
    display: flex;
    flex-wrap: wrap;
}
.archive_post main {
    width: 65%;
}
.archive_maincontent article {
    display: grid;
    grid-template-columns: 120px 1fr;
    grid-gap: 25px;
    margin-bottom: 15px;
    padding-bottom: 15px;
}
.archive_maincontent article:first-child {
    grid-template-columns: 1fr;
    grid-template-areas: unset;
    position: relative;
    height: 280px;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 30px;
}
.archive_maincontent article:first-child .acr_thumb_wrapp {
    height: 280px;
    width: 100%;
    position: absolute;
}
.archive_maincontent article:first-child .acr_thumb_wrapp a {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
}
.archive_maincontent article:first-child .acr_thumb { 
    grid-area:unset; 
    height: 100%;
    position: absolute;
    width: 100%;
    border-radius: 0;
}
.archive_maincontent article:first-child .acr_content { 
    grid-area:unset;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    align-items: flex-end;
    color: #fff;
    padding: 35px;
    align-items: flex-end;
    background: linear-gradient(11.27deg, rgba(0, 0, 0, 0.76) 5.99%, rgba(0, 0, 0, 0) 66.53%);
}
.archive_maincontent article:first-child .acr_content h2 {
    padding-right: 20%;
}
.archive_maincontent article:first-child .acr_content h2 a,
.archive_maincontent article:first-child .acr_content .text_meta,
.archive_maincontent article:first-child .acr_content .text_meta a {
    color: #fff!important;
}
.archive_maincontent article.post:nth-last-child(2) {}
.archive_maincontent article.post:last-child {
    border: none;
    padding-bottom: 0;
    margin-bottom: 0;
}
.entry-header h2 {
    font-size: 20px;
}
.entry-header h2 a {
    color: #020202;
}
.entry-summary { font-size:15px; }

.acr_thumb {
    height: 120px;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    grid-area: acrimg;
}
.text_meta {
    color: #222;
    font-size: 12px!important;
}   
.text_meta a { color:var(--contrast-3)!important; font-weight:bold; }
.text_meta a i { color: var(--contrast-2); }
.archive_maincontent article:first-child .acr_content .text_meta a i { color:#fff; }
.text_meta a:hover { color:var(--contrast)!important; }

    .archive_maincontent .text_meta { margin-top: 10px; }
    .single_post .text_meta { margin-top: 0px!important; }

.archive_maincontent .masonry-load-more {
    text-align: center;
    margin: 50px auto 20px;
}
.archive_maincontent .masonry-load-more a {
    border-radius: 8px;
    background: var(--contrast-2);
    border: 1px solid var(--contrast-2);
    padding: 10px 35px;
}
    .archive_maincontent .masonry-load-more a:hover {
        color: var(--contrast-2)!important;
        background-color: transparent!important;
    }

h2.entry-title { margin-bottom:5px; }
.entry-content ol, 
.entry-content ul {
}

/* Sidebar */
.blog_sidebar {
    flex: 0 0 auto;
    width: 35%;
    padding-left: 35px;
}
.blog_sidebar img { border-radius:8px; }
.is-right-sidebar { width:100%!important; }
.sticky_pos {
    position: sticky;
    top: 20px;
}


/* Popular Widget */
.popular_wrap {
    margin: 10px 0 25px;
}
.popular_item {
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-gap: 15px;
    margin-bottom: 15px;
    padding-bottom: 15px;
}
.popular_item a {
    color: var(--contrast);
    font-weight: 500;
}
.popular_item a:hover {
    color: var(--contrast-2);
}
.nq_number {
    border-radius: 8px;
    border: 1px solid var(--contrast-2);
    display: flex;
    margin-top: 5px;
    height: 40px;
    font-weight: bold;
    color: var(--contrast-2);
    align-items: center;
    justify-content: center;
}

.pp_desc {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}
.popular_item .text_meta {
    font-size: 11px;
    margin-top: 6px;
}
.pp_img {
    display: flex;
    align-items: center;
}
.pp_img img {
    border-radius: 4px;
}


/* Author Box */
.author_box_wrapp {
    margin: 55px 0;
}
.author_box {
    margin: 0 0 30px;
    padding: 20px;
    border: 1px solid var(--contrast-2);
    border-left: 8px solid var(--contrast-2);
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 80px 1fr;
}
.avatar_img img {
    border-radius: 50%!important;
}
.author_box h1 {
    font-weight: bold;
    margin-bottom: 5px;
}
.author_box h1 a { color:var(--contrast); }
.author_box h1 a:hover { color:var(--contrast-2); }
.author_box p { 
    margin:0 0 6px!important;
}
ul.author_social {
    margin: 15px 0 0!important;
    padding: 0;
}
ul.author_social li {
    display: inline-table;
    margin-right: 5px;
}
ul.author_social li:last-child { margin-right:0; }
ul.author_social li a {
    color: var(--contrast);
    font-size: 20px;
}
ul.author_social li a:hover {
    color: var(--contrast-2);
}


/* Not Found */
.not-found form.search-form {
    position: relative;
    height: 45px;
}
.not-found form.search-form label {
    width: 100%;
}
.not-found form.search-form input {
    width: 100%;
    height: 45px;
    border-radius: 8px;
}
.not-found form.search-form .search-submit {
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 0px 8px 8px 0px;
    height: 45px;
}

/* Single Post */
.rank-math-breadcrumb p { margin-bottom:20px; }
.rank-math-breadcrumb p a { color:var(--contrast-2); }
.rank-math-breadcrumb p a:hover { color:var(--contrast); }
.single_post .entry-header {
    margin-bottom: 5px;
}
.single_post article {
    display: block;
    margin: 0;
    padding: 0;
    border: none;
}
.single_post .featured-image {
    margin: 25px 0!important;
}
.single_post img {
    border-radius: 8px;
}

/* Rank Math TOC */
.wp-block-rank-math-toc-block,
.also_read {
    border-left: 4px solid var(--contrast-2);;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 25px;
    font-size: 14px;
}
.also_read p:last-child { margin-bottom:0; }
.wp-block-rank-math-toc-block h2,
.also_read h2,
.also_read h3,
.also_read h4 {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 18px;
}
.wp-block-rank-math-toc-block ul,
.also_read ul {
    margin: 0;
    padding-left: 15px;
}
.wp-block-rank-math-toc-block ul li a,
.also_read ul li a {
    font-weight: 500;
}
.entry-content .wp-block-image {
    margin-bottom: 25px;
}

/* Comment */
.comments-area {
    border: 1px solid var(--base);
    padding: 20px!important;
    border-radius: 8px;
    margin-top: 25px;
    background: none!important;
}
.comment-content {
    padding: 0;
    border: none;
    margin: 8px 0;
    padding: 20px!Important;
    border-radius: 8px;
}
.comment-list .reply a {
    border-radius: 20px;
    padding: 2px 10px;
    border: 1px solid var(--accent);;
}
.comment-list article {
    border: none;
    padding: 0!important;
    margin: 0!important;
}
.comment .children {
    padding-left: 30px;
    margin: 20px 0 20px 20px!important;
    border-left: 0 dotted rgba(0,0,0,.09)!important;
    border-bottom: none !important;
}
.comment-respond {
    margin-top: 40px;
}
input[type=email], 
input[type=number], 
input[type=password], 
input[type=search], 
input[type=tel],
input[type=text], 
input[type=url], 
select, textarea {
    border: 1px solid var(--base)!important;
    border-radius: 5px!important;
    padding: 10px 15px!important;
    margin: 0 0 10px !important;
    width: 100%;
}
.comments-area .form-submit input.submit {
    border-radius: 8px!important;
    background: var(--contrast-2)!important;
    padding: 10px 35px!important;
}
.comment-form-cookies-consent {
    font-size: 12px;
    line-height: 18px;
}
.comments-area h3 {
    font-size: 16px!important;
}
.comment-content { font-size:14px!important; }


/* Related Post */
.realed_post article {
    display: grid!important;
    grid-template-columns: 1fr 120px!important;
    grid-gap: 25px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--base-3);
}
.realed_post .text_meta {
    margin-top: 20px!important;
}
.realed_post article:first-child {
    grid-template-areas: unset;
}
.realed_post article:first-child .acr_content {
    grid-area: unset;
}
.realed_post  article:first-child .acr_thumb {
    height: 120px;
}
.realed_post  article:last-child {
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

/* Addto Any Style */
.addtoany_share_save_container { margin-top:40px!important; }
.addtoany_header { font-weight:500; }
.addtoany_list {
    display: flex!important;
    gap:8px;
    flex-wrap: wrap;
    line-height: 24px!important;
}
.addtoany_list a {
    background: var(--contrast-2)!important;
    padding: 5px 15px!important;
    border-radius: 5px;
    display: flex;
    font-size: 24px!important;
    line-height: 20px!important;
    align-items: center;
}
.addtoany_list a:hover {
    background: var(--contrast)!important;
}
.addtoany_list a span { 
    background:none!important;
}


@media only screen and (max-width: 1024px) {
    
}

@media only screen and (max-width: 767px) {
    .addtoany_share_save_container .addtoany_list a span {
        width: 25px!important;
        height: 25px!important;
    }
}

/* Tags */
.tags_block { margin-bottom:20px; }
.tags_block .cat-links,
.tags_block .post-navigation { display:none; }
.tags_block .tags-links a {
    padding: 0px 13px 2px;
    font-size: 12px;
    line-height: 22px;
    border-radius: 5px;
    opacity: 0.6;
    margin: 0 5px 5px 0;
    position: relative;
    color: var(--contrast) !important;
    border: 1px dotted; var(--contrast);
    display: inline-block;
    transition: all .3s ease-in-out;
}


/* Editor Box */
.penulis_box ul {
    margin: 20px 0;
    border: 1px solid var(--base-3);
    padding: 10px 20px !important;
    border-radius: 8px;
    margin-top: 25px;
}
.penulis_box ul li {
    display: inline-table;
    font-size: 13px;
    margin-right: 0px;
    line-height: 13px;
}
.penulis_box ul li::after {
    content: "\F309";
    position: relative;
    top: 5px;
    font-family: bootstrap-icons;
    font-size: 18px;
}
.penulis_box ul li:nth-child(1):after,
.penulis_box ul li:last-child:after { display:none; }

/* Artikel Terkait */
.artikel_terkait { margin-top:40px; }


/* Widget */
li.widget {
    list-style: none;
}
.wp-block-latest-posts li {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-gap: 20px;
    margin-bottom: 20px!important;
    grid-template-areas: "imej tit" "imej det";
}
.wp-block-latest-posts .wp-block-latest-posts__featured-image {
    grid-area: imej;
    float: none;
    margin: 0;
}
.wp-block-latest-posts .wp-block-latest-posts__post-title {
    grid-area: tit;
    font-size: 15px;
    color: #020202;
    font-weight: bold;
}
.wp-block-latest-posts .wp-block-latest-posts__post-date {
    grid-area: det;
    margin-top: -18px;
    font-size: 12px;
    opacity: 0.65;
}
.wp-block-latest-posts img.wp-post-image {
    border-radius: 5px;
}

.blog_sidebar .wp-block-categories { padding:0!important; margin: 0;}
.blog_sidebar .wp-block-categories li {
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 8px;
    color: #000;
    color: #fff;
    display: inline-table;
    transition: all .3s ease-in-out;
}
.blog_sidebar .wp-block-categories li a {
    color: #000;
    font-size: 15px;
    background-color: var(--contrast-3);
    line-height: 20px;
    border-radius: 50px;
    background-size: 17px auto;
    padding: 8px 20px;
    display: block;
    border: 2px solid var(--contrast-3);
}
.blog_sidebar .wp-block-categories li:hover a {
    background-color: transparent;
    color: #000;
}

.atr_single {
    display: grid;
    grid-template-columns: 30px 1fr;
    grid-gap: 15px;
    margin-bottom: 25px;
}
.atr_pic img { border-radius:50%; }
.atr_meta span { display:block; line-height:16px; }
.atr_meta span.lss { font-size:11px; }
.tags_block { margin:25px 0; }

.single-post .entry-header h1 { font-size:28px; margin-bottom:10px; }
.single-post .entry-header h1::after {
    display: none;
}
.single-post .featured-image img {
    border-radius: 12px;
}
footer.entry-meta {
    display: none!important;
}

